<div class="dd">
  <div class="image">
    <img src="../../assets/imag/men head.jpeg" class="product-image" alt="Product Image">
    <div class="overlay-text">Men's Clothes  </div>
    <div class="overlay"></div>

  </div>
</div>




<h2>Clothes for all seasons</h2>
<div class="card-container">
  <!-- البطاقة الأولى -->
  <div class="card">
    <div class="image-container">
      <img src="../../assets/imag/mens (3).jpeg" alt="Product Image" class="back-image">
      <div class="overlay">
        <h5 class="product-title">Winter Clothes</h5>
        <p class="product-description">Relaxed styles in new season.</p>
      </div>
    </div>
  </div>

  <!-- البطاقة الثانية -->
  <div class="card">
    <div class="image-container">
      <img src="../../assets/imag/mens (2).jpeg" alt="Product Image" class="back-image">
      <div class="overlay">
        <h5 class="product-title">Caual Clothes</h5>
        <p class="product-description">Relaxed styles in new season.</p>
      </div>
    </div>
  </div>

  <!-- البطاقة الثالثة -->
  <div class="card">
    <div class="image-container">
      <img src="../../assets/imag/1354a327-a2ce-4509-b05d-3fcf21fc873e.jpeg" alt="Product Image" class="back-image">
      <div class="overlay">
        <h5 class="product-title">Summer Clothes</h5>
        <p class="product-description">Relaxed styles in new season.</p>

      </div>
    </div>
  </div>
</div>







<div class="section2">
  <h2 class="sec1-h2">Trending Now</h2>

  <div class="container1 cards-container mt-5">
      <div class="card-sec2" style="width: 15rem; position: relative;">


          <img src="../../assets/imag/mens (1).jpeg" class="card-img-top" alt="...">

          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title </p>
          <p class="price">price:15$</p>

              <!-- Rating Section -->
              <div class="rating" >
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
              </div>

              <!-- Buttons -->
              <div class="btn-group">
                  <a href="#" class="btn "> Add to cart</a>
              </div>
          </div>
      </div>







    <div class="card-sec2" style="width: 15rem; position: relative;">


      <img src="../../assets/imag/mens (2).jpeg" class="card-img-top" alt="...">

      <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title </p>
      <p class="price">price:15$</p>

          <!-- Rating Section -->
          <div class="rating" >
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
          </div>

          <!-- Buttons -->
          <div class="btn-group">
              <a href="#" class="btn "> Add to cart</a>
          </div>
      </div>
  </div>


  <div class="card-sec2" style="width: 15rem; position: relative;">


      <img src="../../assets/imag/mens (3).jpeg" class="card-img-top" alt="...">

      <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title </p>
      <p class="price">price:15$</p>

          <!-- Rating Section -->
          <div class="rating" >
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
          </div>

          <!-- Buttons -->
          <div class="btn-group">
              <a href="#" class="btn "> Add to cart</a>
          </div>
      </div>
  </div>



    <div class="card-sec2" style="width: 15rem; position: relative;">
      <!-- Wishlist Icon -->


      <img src="../../assets/imag/mens (4).jpeg" class="card-img-top" alt="...">

      <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title </p>
      <p class="price">price:15$</p>

          <!-- Rating Section -->
          <div class="rating" >
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
          </div>

          <!-- Buttons -->
          <div class="btn-group">
              <a href="#" class="btn "> Add to cart</a>
          </div>
      </div>
  </div>
</div>

</div>
