a {
  font-size: 14px;
  font-weight: 700;
  color: #0d175e;
}
.superNav {
  font-size: 12px;
  color: white;
  background-color: rgb(12, 12, 85);
}
.white-links {
  color: white !important; /* Ensure the text is white */
  text-decoration: none;
}

.white-links i {
  color: white !important; /* Ensure the icons are white */
}
.navbar-brand{
  color: #0d175e;
  font-size: 16px;
}
.navbar-brand :hover{
  color: #ffcc00;
}
.form-control {
  outline: none !important;
  box-shadow: none !important;
  font-size: 12px;
}
/* Hover effect for links in superNav */
.superNav a:hover {
  color: #ffcc00 !important; /* Change color on hover */
}

/* Hover effect for Shipping and Policy links */
.white-links:hover {
  color: #ffcc00 !important; /* Change color on hover */
}

.white-links i:hover {
  color: #ffcc00 !important; /* Change icon color on hover */
}

/* Active link style */
.navbar-nav .nav-item .nav-link.active{
  color: #ffcc00 !important; /* Change color for active links */
  /* border-top: 4px solid rgb(25, 20, 113); */
  border-bottom: 4px solid rgb(25, 20, 113);
}

/* Hover effect for navbar items */
.navbar-nav .nav-item .nav-link:hover {
  color: #ffcc00 !important; /* Change color on hover */
  /* border-top: 4px solid rgb(25, 20, 113); */
  border-bottom: 4px solid rgb(25, 20, 113);
}

@media screen and (max-width: 540px) {
  .centerOnMobile {
    text-align: center;
  }
}
