<section class="h-100">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Cart - {{ cartItems.length }} items</h5>
          </div>
          <div class="card-body">
            <!-- Loop through cart items -->
            <div class="row" *ngFor="let item of cartItems; let i = index">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Product Image -->
                <div class="bg-image hover-overlay hover-zoom ripple rounded">
                  <img [src]="item.image" class="w-100" [alt]="item.name" />
                </div>
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <!-- Product Details -->
                <p><strong>{{ item.name }}</strong></p>
                <p>Color: {{ item.color }}</p>
                <p>Size: {{ item.size }}</p>

                <button class="btn btn-primary btn-sm me-1 mb-2" (click)="removeFromCart(i)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <div class="d-flex mb-4" style="max-width: 300px">
                  <button class="btn btn-primary px-3 me-2" (click)="decreaseQuantity(i)">
                    <i class="fas fa-minus"></i>
                  </button>

                  <input min="1" name="quantity" [(ngModel)]="item.quantity" type="number" class="form-control" />

                  <button class="btn btn-primary px-3 ms-2" (click)="increaseQuantity(i)">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <!-- Price -->
                <p class="text-start text-md-center">
                  <strong>${{ item.price * item.quantity }}</strong>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Checkout Summary -->
        <div class="card mb-4">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Total:
                <span><strong>${{ getTotalPrice() }}</strong></span>
              </li>
            </ul>

            <button class="btn btn-danger btn-lg btn-block" (click)="goToCheckout()">Go to checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
