

/* التأكد من أن الـCarousel يعرض الصور بشكل مناسب */
.carousel-item img {
  object-fit: cover;
  height: 80vh; /* تعيين ارتفاع الـCarousel إلى 80vh */
}

/* لضبط المسافة بين قسم الـCarousel وقسم New Collection */
.container.my-5 {
  margin-top: 5%;
}

/* لضبط المسافة بين قسم New Collection و Our Store */
.container.my-5 + .container.my-5 {
  margin-top: 7%;
}

/* تحسين تأثير hover على الـCards */
/* .card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card-body {
  text-align: center;
}

.btn-primary {
  background-color: #DDA853;
  border: none;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7%;
  margin-top: 7%;
  text-shadow: 2px 2px 2px #9F8383;
} */

/*************PRODUCT CARDS***************/
.custom-card {
  height: 100%; /* Ensure all cards have the same height */
  display: flex;
  flex-direction: column;
}

.product-image {
  height: 250px; /* Set a fixed height for images */
  object-fit: cover; /* Ensures images fill the space without stretching */
  width: 100%;
}

.card-body {
  flex-grow: 1; /* Pushes the button to the bottom */
}

.card-footer {
  text-align: center;
}

