body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

header {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  font-size: 24px;
  text-shadow: 2px 2px 2px #9F8383;

}

nav ul {
  list-style: none;
  text-align: center;
  background: #333;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

section {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #DDA853;
}

details {
  margin: 10px 0;
  padding: 10px;
  background: #eef5f3;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: white;
  margin-top: 20px;
}
