<div class="shop-container">
  <div class="filters">
   <a href="/women"> <button class="women-btn" >Women</button></a>
   <a href="/men"><button class="men-btn" (click)="scrollToSection('men')">Men</button></a>
   <a href="/accessory">  <button class="kids-btn" (click)="scrollToSection('Accessories')">Accessories</button></a>
    </div>



  <!-- <input type="text" [(ngModel)]="searchQuery" placeholder="ابحث عن منتج..." class="search-box" /> -->

  <!-- <div class="sort-options">
    <label>تصنيف حسب:</label>
    <select [(ngModel)]="sortOption">
      <option value="price">السعر</option>
      <option value="category">الفئة</option>
    </select>
  </div> -->


  <!-- SLIDER -->
<div class="slider-container">
    <h2 class="slider-title"> Discover Our Latest Collection</h2>
    <!-- <p class="slider-subtitle">Explore high-quality products that match your style!</p> -->
    <div class="image-slider">
    <div class="image-track">
        <img src="../../assets/imag/access (1).jpeg" alt="Product 1">
        <img src="../../assets/imag/tr.jpeg" alt="Product 4">
        <img src="../../assets/imag/men (1).jpeg" alt="Product 1">
        <img src="../../assets/imag/access (4).jpeg" alt="Product 4">
        <!-- <img src="../../assets/imag/access (1).jpeg" alt="Product 5">
        <img src="../../assets/imag/access (1).jpeg" alt="Product 6"> -->
        <!-- Duplicate for seamless infinite scroll -->
        <img src="../../assets/imag/access (3).jpeg" alt="Product 3">
        <img src="../../assets/imag/tr (1).jpeg " alt="Product 1">
        <img src="../../assets/imag/mens (1).jpeg" alt="Product 4">
         <img src="../../assets/imag/tr (2).jpeg" alt="Product 3">

        <!-- Duplicate for seamless infinite scroll -->

        <img src="../../assets/imag/access (2).jpeg" alt="Product 2">
        <img src="../../assets/imag/men (2).jpeg" alt="Product 2">
        <img src="../../assets/imag/tr (2).jpeg" alt="Product 2">
        <img src="../../assets/imag/men (3).jpeg" alt="Product 3">



    </div>
    </div>
    </div>

  <div id="women" class="product-section container">
      <h2> Women</h2>

      <div class="cards-container mt-5">



        <div class="card" style="width: 15rem; position: relative;">
          <!-- Wishlist Icon -->
          <i class="fa-regular fa-heart wishlist-icon"
          [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
          (click)="toggleWishlist()">
       </i>

          <img src="../../assets/imag/tr (2).jpeg" class="card-img-top" alt="...">

          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title </p>
          <p class="price">price:15$</p>

              <!-- Rating Section -->
              <div class="rating" >
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
              </div>

              <!-- Buttons -->
              <div class="btn-group">
                  <a href="/product" class="btn "> Add to cart</a>
              </div>
          </div>
      </div>





      <div class="card" style="width: 15rem; position: relative;">
        <!-- Wishlist Icon -->
        <i class="fa-regular fa-heart wishlist-icon"
        [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
        (click)="toggleWishlist()">
     </i>

        <img src="../../assets/imag/Outfit.jpeg" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title </p>
        <p class="price">price:15$</p>

            <!-- Rating Section -->
            <div class="rating" >
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

            <!-- Buttons -->
            <div class="btn-group">
                <a href="#" class="btn "> Add to cart</a>
            </div>
        </div>
    </div>

        <div class="card" style="width: 15rem; position: relative;">
          <!-- Wishlist Icon -->
          <i class="fa-regular fa-heart wishlist-icon"
          [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
          (click)="toggleWishlist()">
       </i>

          <img src="../../assets/imag/tr (2).jpeg" class="card-img-top" alt="...">

          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title </p>
          <p class="price">price:15$</p>

              <!-- Rating Section -->
              <div class="rating" >
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
              </div>

              <!-- Buttons -->
              <div class="btn-group">
                  <a href="#" class="btn "> Add to cart</a>
              </div>
          </div>
      </div>


        <div class="card" style="width: 15rem; position: relative;">
          <!-- Wishlist Icon -->
          <i class="fa-regular fa-heart wishlist-icon"
          [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
          (click)="toggleWishlist()">
       </i>

          <img src="../../assets/imag/tr (1).jpeg" class="card-img-top" alt="...">

          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title </p>
          <p class="price">price:15$</p>

              <!-- Rating Section -->
              <div class="rating" >
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
              </div>

              <!-- Buttons -->
              <div class="btn-group">
                  <a href="#" class="btn "> Add to cart</a>
              </div>
          </div>
      </div>

        <!-- نسخ البطاقات الأخرى هنا -->
      </div>
    </div>




    <div id="men" class="product-section container">
      <h2> Men</h2>

      <div class="cards-container mt-5">


          <div class="card" style="width: 15rem; position: relative;">
              <!-- Wishlist Icon -->
              <i class="fa-regular fa-heart wishlist-icon"
              [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
              (click)="toggleWishlist()">
           </i>

              <img src="../../assets/imag/men (1).jpeg" class="card-img-top" alt="...">

              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title </p>
              <p class="price">price:15$</p>

                  <!-- Rating Section -->
                  <div class="rating" >
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                  </div>

                  <!-- Buttons -->
                  <div class="btn-group">
                      <a href="#" class="btn "> Add to cart</a>
                  </div>
              </div>
          </div>

          <div class="card" style="width: 15rem; position: relative;">
              <!-- Wishlist Icon -->
              <i class="fa-regular fa-heart wishlist-icon"
              [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
              (click)="toggleWishlist()">
           </i>

              <img src="../../assets/imag/mens (1).jpeg" class="card-img-top" alt="...">

              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title </p>
              <p class="price">price:15$</p>

                  <!-- Rating Section -->
                  <div class="rating" >
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                  </div>

                  <!-- Buttons -->
                  <div class="btn-group">
                      <a href="#" class="btn "> Add to cart</a>
                  </div>
              </div>
          </div>



          <div class="card" style="width: 15rem; position: relative;">
              <!-- Wishlist Icon -->
              <i class="fa-regular fa-heart wishlist-icon"
              [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
              (click)="toggleWishlist()">
           </i>

              <img src="../../assets/imag/men (3).jpeg" class="card-img-top" alt="...">

              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title </p>
              <p class="price">price:15$</p>

                  <!-- Rating Section -->
                  <div class="rating" >
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                  </div>

                  <!-- Buttons -->
                  <div class="btn-group">
                      <a href="#" class="btn "> Add to cart</a>
                  </div>
              </div>
          </div>



          <div class="card" style="width: 15rem; position: relative;">
              <!-- Wishlist Icon -->
              <i class="fa-regular fa-heart wishlist-icon"
              [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
              (click)="toggleWishlist()">
           </i>

              <img src="../../assets/imag/mens (3).jpeg" class="card-img-top" alt="...">

              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title </p>
              <p class="price">price:15$</p>

                  <!-- Rating Section -->
                  <div class="rating" >
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                  </div>

                  <!-- Buttons -->
                  <div class="btn-group" >
                      <button  class="btn "(click)="openModal()"  > Add to cart</button>
                  </div>
              </div>
          </div>



</div>
</div>



<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel"> SHOPPING CART</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="container">
        <div class="card mb-2 border-0" style="max-width: 900px;">
          <div class="row g-0 align-items-center">
            <div class="col-md-4">
              <img src="../../assets/imag/7.jpg" class="img-fluid " style="width: 150px; height: 150px;" alt="...">
            </div>

            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title"> dress | size-m</h5>
                <p class="card-text"> price:150 EGP</p>
              </div>
            </div>

            <div class="col-md-2 d-flex flex-column align-items-center">
              <div class="d-flex align-items-center mb-2">
                <div class="add d-flex align-items-center mb-2"><button class="btn-plus" (click)="increaseQuantity()">+</button>
                  <span class="fw-bold">{{ quantity }}</span>
                  <button class="btn-minus ms-2" (click)="decreaseQuantity()">-</button></div>
                  <i class="fa-solid fa-xmark" (click)="removeItem()"></i>
              </div>

            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="btn-2 w-full"><button type="button" class="btn-2 "> CHECKOUT</button></div>
        <div class="btn-1 w-full"><button type="button" class="btn-1" data-bs-dismiss="modal">CONTINUE SHOPPING</button></div>
      </div>

    </div>
  </div>
</div>



<div id="Accessories" class="product-section container">
  <h2> Accessories</h2>
  <div class="cards-container mt-5">


      <div class="card" style="width: 15rem; position: relative;">
          <!-- Wishlist Icon -->
          <i class="fa-regular fa-heart wishlist-icon"
          [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
          (click)="toggleWishlist()">
       </i>

          <img src="../../assets/imag/access (1).jpeg" class="card-img-top" alt="...">

          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title </p>
          <p class="price">price:15$</p>

              <!-- Rating Section -->
              <div class="rating" >
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
              </div>

              <!-- Buttons -->
              <div class="btn-group">
                  <a href="#" class="btn "> Add to cart</a>
              </div>
          </div>
      </div>


      <div class="card" style="width: 15rem; position: relative;">
          <!-- Wishlist Icon -->
          <i class="fa-regular fa-heart wishlist-icon"
          [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
          (click)="toggleWishlist()">
       </i>

          <img src="../../assets/imag/access (2).jpeg" class="card-img-top" alt="...">

          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title </p>
          <p class="price">price:15$</p>

              <!-- Rating Section -->
              <div class="rating" >
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
              </div>

              <!-- Buttons -->
              <div class="btn-group">
                  <a href="#" class="btn "> Add to cart</a>
              </div>
          </div>
      </div>


      <div class="card" style="width: 15rem; position: relative;">
          <!-- Wishlist Icon -->
          <i class="fa-regular fa-heart wishlist-icon"
          [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
          (click)="toggleWishlist()">
       </i>

          <img src="../../assets/imag/access (3).jpeg" class="card-img-top" alt="...">

          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title </p>
          <p class="price">price:15$</p>

              <!-- Rating Section -->
              <div class="rating" >
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
              </div>

              <!-- Buttons -->
              <div class="btn-group">
                  <a href="#" class="btn "> Add to cart</a>
              </div>
          </div>
      </div>


      <div class="card" style="width: 15rem; position: relative;">
          <!-- Wishlist Icon -->
          <i class="fa-regular fa-heart wishlist-icon"
          [ngClass]="{'fa-solid': isWishlisted, 'fa-regular': !isWishlisted, 'wishlist-active': isWishlisted}"
          (click)="toggleWishlist()">
       </i>

          <img src="../../assets/imag/access (4).jpeg" class="card-img-top" alt="...">

          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title </p>
          <p class="price">price:15$</p>

              <!-- Rating Section -->
              <div class="rating" >
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
              </div>

              <!-- Buttons -->
              <div class="btn-group">
                  <a href="#" class="btn "> Add to cart</a>
              </div>
          </div>
      </div>

</div>
</div>

</div>
