<!-- Start Banner Hero -->
<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="container">
              <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                      <img class="img-fluid" src="/assets/hero5-re.png" alt="">
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left align-self-center">
                          <h1 class="h1 " style="color: #16404D;" ><b>Ele</b>gance</h1>
                          <h3 class="h2" style="color: #16404D;">Effortless Elegance for Every Occasion</h3>
                          <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                          </p>
                          <a href="/woman" type="button" class="btn " style="background-color: #DDA853;">Women’s Collection</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
              <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                      <img class="img-fluid" src="/assets/hero3-r.png" alt="">
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left">
                          <h1 class="h1" style="color: #16404D;">Elevate Your Wardrobe</h1>
                          <h3 class="h2" style="color: #16404D;">Style Meets Comfort</h3>
                          <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                          </p>
                          <a  href="/men" type="button" class="btn" style="background-color: #DDA853;">Men’s Collection</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
              <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                      <img class="img-fluid" src="/assets/heromen-r.png" alt="">
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left">
                          <h1 class="h1" style="color: #16404D;">Style Meets Comfort</h1>
                          <h3 class="h2" style="color: #16404D;">Elevate Your Wardrobe </h3>
                          <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                          </p>
                          <a href="/accessories" type="button" class="btn" style="background-color: #DDA853;">Shop Accessories</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="prev">
      <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="next">
      <i class="fas fa-chevron-right"></i>
  </a>
  </div>
<!-- End Banner Hero -->
<!--*********************NEW PART************  -->
<section class="features py-5">
  <div class="container" data-aos="fade-up" data-aos-duration="1000">
    <div class="row">
      <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
        <div class="py-5">
          <i class="fa-solid fa-calendar-check" style="color: #16404D;"></i>
          <h4 class="element-title text-capitalize my-3">Book An Appointment</h4>
          <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
        </div>
      </div>
      <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
        <div class="py-5">
          <i class="fa-solid fa-gift" style="color: #16404D;"></i>
          <h4 class="element-title text-capitalize my-3">Pick up in store</h4>
          <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
        </div>
      </div>
      <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
        <div class="py-5">
          <i class="fa-solid fa-box-open" style="color: #16404D;"></i>
          <h4 class="element-title text-capitalize my-3">Special packaging</h4>
          <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
        </div>
      </div>
      <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
        <div class="py-5">
          <i class="fa-solid fa-arrow-rotate-left" style="color: #16404D;"></i>
          <h4 class="element-title text-capitalize my-3">free global returns</h4>
          <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--*********************NEW PART************  -->
<section class="categories overflow-hidden">
  <div class="container" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="linear">
    <div class="open-up">
      <div class="row">
        <div class="col-md-4">
          <div class="cat-item image-zoom-effect">
            <div class="image-holder">
              <a href="/men">
                <img src="/assets/new1.png" alt="categories" class="product-image2 img-fluid">
              </a>
            </div>
            <div class="category-content">
              <div class="product-button">
                <a href="/men" class="btn btn-common text-uppercase">Shop for men</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cat-item image-zoom-effect">
            <div class="image-holder">
              <a href="/woman">
                <img src="/assets/new2.png" alt="categories" class="product-image2 img-fluid">
              </a>
            </div>
            <div class="category-content">
              <div class="product-button">
                <a href="/woman" class="btn btn-common text-uppercase">Shop for women</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cat-item image-zoom-effect">
            <div class="image-holder">
              <a href="/accessories">
                <img src="/assets/new3.png" alt="categories" class="product-image2 img-fluid">
              </a>
            </div>
            <div class="category-content">
              <div class="product-button">
                <a href="/accessories" class="btn btn-common text-uppercase">Shop accessories</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--************************************************************  -->
<!-- Contact 6 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8" >
  <div class="container">
    <div class="row justify-content-md-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear">
      <hr>
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
        <h2 class="mb-4 display-5" style="margin-top: 50px; color: #DDA853;">Share Your Feedback</h2>
        <!-- Section for customer reviews -->
        <section>
          <p class="text-secondary mb-4 lead fs-4">
            We value your feedback! Click the button below to share your experience with us.
          </p>

          <!-- Centered button -->
          <a class="btn text-white mb-5" href="/review" role="button" style="background-color: #16404D;">Write a Review</a>
        </section>

        <hr class="w-80 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>
</section>


<!--*******************************************************-->

<!-- Start Categories of The Month -->
<section class="container">
  <div class="row text-center pt-3" data-aos="fade-bottom" data-aos-duration="1000" data-aos-easing="linear">
    <div class="col-lg-6 m-auto">
        <h1 class="h1 mb-4" style="color: #DDA853;">Categories of The Month</h1>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
</div>
<div class="row">
  <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img src="/assets/men.png" class="rounded-circle img-fluid border"></a>
      <h5 class="text-center mt-3 mb-3">Shirts</h5>
      <p class="text-center"><a class="btn " href="/shop" style="background-color: #DDA853;">Go Shop</a></p>
  </div>
  <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img src="/assets/middle.png" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Hoddies</h2>
      <p class="text-center"><a class="btn " href="/shop" style="background-color: #DDA853;">Go Shop</a></p>
  </div>
  <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img src="/assets/women.png" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Suits</h2>
      <p class="text-center"><a class="btn " href="/shop" style="background-color: #DDA853;">Go Shop</a></p>
   </div>
</div>
</section>
<!-- End Categories of The Month -->

<!--*********************************NEW PART*******************************************-->
<section class="collection bg-light position-relative py-5">
  <div class="container" data-aos="fade-top" data-aos-duration="1000" data-aos-easing="linear">
    <div class="row">
      <div class="title-xlarge text-uppercase txt-fx domino"></div>
      <div class="collection-item d-flex flex-wrap my-5">
        <div class="col-md-6 column-container">
          <div class="image-holder">
            <img src="/assets/winter1.png" alt="collection" class="product-image2 img-fluid">
          </div>
        </div>
        <div class="col-md-6 column-container bg-white">
          <div class="collection-content p-5 m-0 m-md-5">
            <h3 class="element-title text-uppercase">Classic winter collection</h3>
            <p>Dignissim lacus, turpis ut suspendisse vel tellus. Turpis purus, gravida orci, fringilla a. Ac sed eu
              fringilla odio mi. Consequat pharetra at magna imperdiet cursus ac faucibus sit libero. Ultricies quam
              nunc, lorem sit lorem urna, pretium aliquam ut. In vel, quis donec dolor id in. Pulvinar commodo mollis
              diam sed facilisis at cursus imperdiet cursus ac faucibus sit faucibus sit libero.</p>
              <a href="/shop" class="btn text-uppercase mt-3" style="background-color: #DDA853;">Shop Collection</a>          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ***************************products******************************************-->

<!-- Section -->
<section class="py-5">
  <div class="text-center">
    <h1 class="text" style="color: #DDA853;">
        Welcome to Our Shop
    </h1>

    <h2 style="color: #16404D;">Discover the Latest Collections & Best Deals</h2>
    <p>Explore our wide range of products, from trendy fashion to must-have accessories. Find your perfect style today!</p>
  </div>

  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">

      <!-- Loop through products -->
      <div class="col mb-5" *ngFor="let product of categoryProducts">
        <div class="card h-100 custom-card position-relative">

          <!-- Wishlist icon -->
          <div class="position-absolute top-0 end-0 p-2">
            <button class="btn btn-light wishlist-btn" (click)="addToWishlist(product)">
              ❤️
            </button>
          </div>

          <!-- Product image -->
          <img class="card-img-top product-image"
              [src]="product.image_url || 'assets/default.png'"
              alt="{{ product.name }}" />

          <!-- Product details -->
          <div class="card-body p-4 d-flex flex-column">
            <div class="text-center">
              <h5 class="fw-bolder">{{ product.name }}</h5>
              <span *ngIf="product.discount > 0" class="text-muted text-decoration-line-through">
                ${{ product.price }}
              </span>
              <span>
                ${{ product.discount > 0
                  ? product.price - (product.price * product.discount / 100)
                  : product.price }}
              </span>
            </div>
          </div>

          <!-- Product actions -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
            <button style="background-color: #DDA853;" class="btn btn-outline-dark mt-auto border-0" (click)="addToCart(product)">
              Add to cart
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
